<form [formGroup]="form">
  <div class="form-control">
    <label>email</label><br />
    <input type="email" name="email" formControlName="email" required />
    <p class="error" *ngIf="emailField.errors?.required">Email is required</p>
    <p class="error" *ngIf="emailField.errors?.email">Email is not valid</p>
  </div>
  <div class="form-control">
    <label>password</label><br />
    <input
      type="password"
      name="password"
      formControlName="password"
      required
    />
    <p class="error" *ngIf="passwordField.errors?.required">
      Password is required
    </p>
    <p class="error" *ngIf="passwordField.errors?.minlength">
      Password must be 4 char (rest
      {{ passwordMinLength - user.password.length }})
    </p>
  </div>
  <div class="LoginForm-submit">
    <button (click)="login()" [disabled]="!valid">
      login as {{ user.email }}
    </button>
  </div>
</form>
