:host {
  flex-grow: 1;
}

.Column {
  padding-right: 0.5rem;
  margin-right: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;

  height: 100%;
  min-width: 200px;
  background-color: rgba(60, 60, 60, 0.2);

  &-name {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
  }
}
