<!-- src/app/nav-bar/nav-bar.component.html -->
<nav>
  <a routerLink="/">home</a>
  <a routerLink="/boards" [ngClass]="{ unauthorized: !(loggedUser$ | async) }"
    >board
    <span *ngIf="boardsCount$ | async" class="NavBar-count"
      >({{ boardsCount$ | async }})</span
    ></a
  >
  <a routerLink="/about">about</a>
  <a routerLink="/login">
    <span *ngIf="loggedUser$ | async"
      >{{ loggedUser$ | async }}

      <small *ngIf="currentCredits$ | async"
        >(credit: {{ currentCredits$ | async }})</small
      >
    </span>
    <span *ngIf="!(loggedUser$ | async)">Login</span>
  </a>
</nav>
