.Board {
  &-Title {
    font-size: 2rem;
    font-weight: bold;
    // border-bottom: 1px solid black;
    text-align: center;
  }

  &-Columns {
    border: 1px solid black;
    min-height: 500px;
    display: flex;
    justify-content: space-around;
  }
}
