.Toast-list {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 300px;
  max-width: 100%;
}
.Toast {
  padding: 0.5rem;
  border-radius: 5px;
  margin-top: 1rem;

  &-success {
    background-color: lightseagreen;
  }
  &-warning {
    background-color: lightyellow;
  }
  &-danger {
    background-color: lightsalmon;
  }
  &-info {
    background-color: lightyellow;
  }
}
